[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
# Must be installed gloablly
#pytorch = "*"
torch = {version = "==1.11.0", file = "https://download.pytorch.org/whl/cu115/torch-1.11.0%2Bcu115-cp310-cp310-linux_x86_64.whl"}
imagen-pytorch = "*"
psycopg2 = "*"
scikit-learn = "*"
plotly = "*"
yfinance = "*"
ta = "*"
pymongo = "*"
beautifulsoup4 = "*"
finnhub-python = "*"
xgboost = "*"
pathos = "*"
pandas-datareader = "*"

[dev-packages]

[requires]
python_version = "3"
